<a href="https://colab.research.google.com/github/Mahziyar-Yz/data-analysis/blob/main/dataA_convert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Convert str to zero and one with lambda
import pandas as pd

df=pd.read_csv("/content/Book1.csv")
print(df)
print("*"*100)
df["sex"]=df["sex"].apply(lambda b : 0 if b=="girl" else 1)
print(df)

         day  product  count  price   sex
0   saturday   mobile    1.0    100  girl
1     sunday   mobile    NaN    150   boy
2     monday   laptop    4.0    500   boy
3    Tuesday  speaker    3.0     50   boy
4  Wednesday   laptop    5.0    700  girl
****************************************************************************************************
         day  product  count  price  sex
0   saturday   mobile    1.0    100    0
1     sunday   mobile    NaN    150    1
2     monday   laptop    4.0    500    1
3    Tuesday  speaker    3.0     50    1
4  Wednesday   laptop    5.0    700    0